{% extends "account/layout.html" %}

{% block content %}
    {% if error %}
        {{ error }}
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="RegfieldWrapper">
            <label for="username" style="width:100px">Логин</label>
            <div>
                <input type="text"  id="username" name="username" placeholder="Логин">
            </div>
        </div>
        <div class="RegfieldWrapper">
            <label for="password" style="width:100px">Пароль</label>
            <div>
                <input type="password"  id="password" name="password" placeholder="Пароль">
            </div>
        </div>
        <div class="fieldWrapper">
            <input type="submit" value="Войти" />
        </div>
    </form>
{% endblock content %}