{% extends "films/layout.html" %}

{% block title %}Фильмы | {{ film.title }}{% endblock title %}

{% block content %}
        <div class="post_box">
            <h2 class='title'>
                <a>{{ film.title }}</a>
            </h2>
            <div class="news_meta">
                Добавил <a href="{# {% url 'forum:by-author' film.user.pk %} #}">{{ film.user.first_name}} {{ film.user.last_name}}</a>, {{ film.date|date:"j M" }}
                | Категория: <a href="{# {% url 'forum:by-category' film.category.pk %} #}">{{ film.category.name }}</a>
                | Год выхода: <a href="{# {% url 'forum:by-category' film.category.pk %} #}">{{ film.release_date }}</a>
                {% if user.is_authenticated and film.user == user %}
                    | <a href="{% url 'films:update' film.id %}">Р</a>
                {% endif %}
            </div>
            <p class='wrapper'>
                {{ film.description|safe }}
            </p>
            <p class='wrapper'>
                <video width="512" height="384" controls>
                   <source src="{{ film.film_file.url }}">
                   Тег video не поддерживается вашим браузером.
              </video>
            </p>
            <div class="cleaner"></div>
        </div>
{% endblock content %}