{% extends "films/layout.html" %}

{% block title %} Фильм {% endblock title %}

{% block content %}
        <div class="post_box">
            <h2 class='title'>
                <a>{{ film.title }}</a>
            </h2>
            <div class="news_meta">
                Автор <a>{{ film.user.first_name }}</a>, {{ film.date|date:"j E oг. H:i" }}
            </div>
            <p class='wrapper'>
                {{ film.description|safe }}
            </p>
            <p class='wrapper'>
                <video width="512" height="384" controls>
                   <source src="{{ film.film_file.url }}">
                   Тег video не поддерживается вашим браузером.
              </video>
            </p>
            <div class="cleaner"></div>
        </div>
{% endblock content %}