{% extends "shared/layout.html" %}
{% load films_tags %}

{% block films_current %} class="current" {% endblock films_current %}

{% block search_box %}
    <div id="search_box">
        <form action="{% url 'films:home' %}" method="post">
            {% csrf_token %}
            <input type="text" placeholder="Искать среди фильмов..." name="query" id="searchfield"/>
          <input type="submit" value="Поехали" id="searchbutton" />
        </form>
    </div>
{% endblock search_box %}

{% block sidebar %}
    {% if user.is_superuser %}
    <div class="sidebar_box">
        <h3 class='title'><a style="color:white;" href="{% url 'films:add' %}">Добавить фильм</a></h3>
    </div>
    {% endif %}

    {% films_categories_partial %}

    {# {% forum_archive_partial %} #}

{% endblock sidebar %}