{% extends "forum/skilet.html" %}


{% comment %}
принимает словарь:
{
    "comment_list": список коментариев {autor{"name","photo"},"data","text"}
}
{% endcomment %}

{% block title %} {{ title }} {% endblock title %}

{% block left_container %}
<div class="comments">
    {% for comment in comment_list %}
        {% block comment %}
        <div class="comment">
            <div class="comm_hdr">
                <p>{{ comment.author.name }}<span> | {{ comment.data }}</span></p>
            </div>
            <div class="avat">
                <img src="images/avatar.jpg" alt="avatar" />
                <img src="images/avatar_frame.png" alt="avatar_frame" class="avatar_frame" />
            </div>
            <p class="comm_txt"> {{ comment.text }} </p>
        </div>
        {% endblock comment %}
    {% endfor %}
</div>
{% endblock left_container %}