{% extends "hallway/layout.html" %}

{% block title %}Гостиная | Разработчики сайта{% endblock title %}

{% block content %}
    {% for developer in developers_list %}
        <div class="post_box">
            <h2 class='title'>
                <a>{{ developer.first_name }} {{developer.last_name}}</a>
            </h2>
            <p class='wrapper'>
                {{ developer.description|safe }}
            </p>
            <div class="cleaner"></div>
        </div>
    {% endfor %}
{% endblock content %}