{% load staticfiles %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/shared/style.css' %}" />
    <title>{% block title %} Общага № 7 {% endblock title %}</title>
</head>

<body>
    <!-- Wrap Div -->
    <div id="wrap">

        <!-- Header -->
        <div id="hdr">

            <!-- Top Menu -->
            <div id="hdl">
                <a href="#" class="hl">О Нас</a>
                <a href="#" class="hl">Контакты</a>
                <a href="#" class="hl">Войти</a>
            </div>

            <!-- Search form -->
            <form id="search_form" method="get" action="">
                <input class="search_field" type="text" placeholder="Найти" name="s" id="s" />
                <input class="search_button" type="submit" value="" id="searchsubmit" />

            </form>

            <!-- Logo -->
            <div id="logo">
                <a href="index.html"></a>
            </div>

            <!-- Main Menu -->
            <div id="menu">
                <a class="mh" href="#">Главная</a>
                <a class="mt" href="#">Форум</a>
                <a class="mw" href="#">Фильмы</a>
                <a class="mi" href="#">нечто</a>
            </div>

        </div>

        <!-- Container -->
        <div id="cnt">

            <!-- Left Container -->
            <div id="lcnt">
                {% block left_container %} {% endblock left_container %}
            </div>

            <!-- Right Container -->
            <div id="rcnt">
                {% block right_container %} {% endblock right_container %}
            </div>

            <br style="clear: both;" />

        </div>

    </div>

    <!-- Footer -->
    <div id="foo">

        <!-- Footer Container -->
        <div id="foo_d">

            <!-- Footer Menu -->
            <div id="foo_menu">

                <a href="#">Главная</a><span>.</span>
                <a href="#">Форум</a><span>.</span>
                <a href="#">Фильмы</a><span>.</span>
                <a href="#">Нечно</a><span>.</span>
                <a href="#">О Нас</a><span>.</span>
                <a href="#">Контактная информация</a>

            </div>
            <!-- DryIcons credit: Do not remove the following code if you are using this template under the DryIcons Free License Terms of Use
                     If you'd like to use this theme without the obligatory back-link to http://dryicons.com/ please
                     consider using it under the DryIcons Commercial License Terms
                     For details see http://dryicons.com/terms/ -->

            <p>&copy;2009 blogair. All rights reserved. Template and Icons by <a target="_blank" href="http://dryicons.com">DryIcons</a>
            </p>

        </div>

    </div>

</body>

</html>