{% extends "forum/skilet.html" %}

{% comment %}
принимает словарь:
{
"comments_list": список коментариев {autor{"name","photo"},"data","text"},
"post" : {"autor_name","data","text","detail"}
}
{% endcomment %}


{% block title %} {{ title }} {% endblock title %}

{% block left_container %}

<div class="post">
    <div class="post_inf">

        <span>{{ post.data }}</span><br />
        <span class="posn">post.author_name</span><br />
        <span class="posc">{{ comments_list|length }} Comments</span>

    </div>

    <!-- Post Title - Permalink -->
    <h1>
        <a href="#">New Banner Free Vector Graphic</a>
    </h1>

    <!-- Post Content -->
    <img src="images/art_pic1.jpg" alt="art_pic1" />

    <p>Lorem ipsum dolor sit amet, consequat blandit scelerisque lacus in quis. Felis cras, adipisci in ac donec donec nulla quis. Luctus justo ultricies at, ligula dolor quis, dictum libero facilisis potenti. Ipsum consequat, purus nibh eget ea pede dis. Neque in qui aenean purus. Quis orci sed at aliquet, tempor facilisis turpis sapien molestie rutrum, mus orci malesuada dis integer dignissim dui, tempor ligula commodo lobortis ac. Ut urna varius quis odio tortor, elementum enim vestibulum. Sed lorem. Amet diam, aptent facere, nec ullamcorper, viverra nam et ut suscipit, ornare ut sed urna sem cursus id.</p>

</div>

<h2>
    <a href="#">3 comments</a>
</h2>

<div class="comments">
    {% for comment in comments_list %}
        <div class="comment">
            <div class="comm_hdr">
                <p>{{ comment.author.name }}<span> | {{ comment.data }}</span></p>
            </div>
            <div class="avat">
                <img src="images/avatar.jpg" alt="avatar" />
                <img src="images/avatar_frame.png" alt="avatar_frame" class="avatar_frame" />
            </div>
            <p class="comm_txt"> {{ comment.text }} </p>
        </div>
    {% endfor %}
</div>
{% endblock left_container %}