{% load staticfiles %}

<div id="chat_opened">
    <div class="chat-main">
        <div class="chat-menu-left">
            <div class="chat-block-title">Приглашения</div>
            <div class="chat-container-invites">
                <div class="chat-block-room">Комната для ровных пацанчиков</div>
            </div>
            <div class="chat-block-title">Все комнаты</div>
            <div class="chat-container-rooms">
                <div class="chat-block-room">Комната для ровных пацанчиков</div>
                <div class="chat-block-room">Комната для ровных пацанчиков</div>
                <div class="chat-block-room">Комната для ровных пацанчиков</div>
                <div class="chat-block-room">Комната для ровных пацанчиков</div>
                <div class="chat-block-room">Комната для ровных пацанчиков</div>
                <div class="chat-block-room">Комната для ровных пацанчиков</div>
                <div class="chat-block-room">Комната для ровных пацанчиков</div>
                <div class="chat-block-room">Комната для ровных пацанчиков</div>
                <div class="chat-block-room">Комната для ровных пацанчиков</div>
                <div class="chat-block-room">Комната для ровных пацанчиков</div>
                <div class="chat-block-room chat-room-current">Комната для ровных пацанчиков</div>
                <div class="chat-block-room">Комната для ровных пацанчиков</div>
                <div class="chat-block-room">Комната для ровных пацанчиков</div>
                <div class="chat-block-room">Комната для ровных пацанчиков</div>
            </div>
        </div>

        <div class="chat-menu-top">
            <div id="add_room">создать комнату</div>
            <div id="send_invitation">пригласить в комнату</div>
            <div style="clear: both;"></div>
        </div>

        <div id="chat_room_create">
            <input type="text">
        </div>

        <div id="chat_send_invitation">
            <input type="text">
        </div>

        <div class="chat-wrapper-messages">
            <div id="chat_messages_container">

            </div>
            <textarea id="chat_textarea"></textarea>
        </div>

    </div>
    <div id="chat_label_close">с в е р н у т ь</div>
</div>

<div id="chat_closed">
    <div class="chat-messages-count">
        236
    </div>
</div>

<script src="{% static 'scripts/jquery.min.js' %}"></script>
<script src="{% static 'scripts/chat.js' %}"></script>
