{% extends "chat/layout.html" %}
{% load staticfiles %}

{% block head %}
    <script type="text/javascript" src="{% static 'scripts/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/chat.js' %}"></script>
{% endblock head %}

{% block title %}Чат | {{room.title}}{% endblock title %}

{% block content %}
<div id="chat"></div>

<script type="text/javascript">
    $(window).ready(function(){
        init_chat({{ room.id }}, "chat");
    })
</script>
{% endblock content %}