{% load staticfiles %} {% load footer_tags %}

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %} {% endblock title %}</title>
    <link href="{% static 'styles/shared/style.css' %}" rel="stylesheet" type="text/css" />
</head>

<body>

    <div class="site_body_wrapper">
        <div class="site_content_wrapper">

            <div class="header-container">

                <div class="site_title">
                    <a href="{% url 'hallway:home' %}" target="_parent">
                Общежитие
            	<span>№ 7</span>
                <span class="tagline">Кто не жил в общаге - тот не был студентом.</span>
            </a>
                </div>
                <!-- end of site_title -->

                {% block search_box %}{% endblock search_box %}

                <div class="cleaner"></div>

            </div>
            <!-- end of header -->

            <div class="site_menu">
                <ul>
                    <li><a href="{% url 'hallway:home' %}" {% block hallway_current %}{% endblock hallway_current %}><span></span>Главная</a>
                    </li>
                    <li><a href="{% url 'forum:home' %}" {% block forum_current %}{% endblock forum_current %}><span></span>Форум</a>
                    </li>
                    <li><a href="{% url 'films:home' %}" {% block films_current %}{% endblock films_current %}><span></span>Фильмы</a>
                    </li>
                    <li><a href="{% url 'library:home' %}" {% block library_current %}{% endblock library_current %}><span></span>Библиотека</a>
                    </li>
                    <li><a href="#" {% block somethink_current %}{% endblock somethink_current %}><span></span>Кое-что еще</a>
                    </li>
                </ul>

                <div class="user_unfo">
                    {% if not user.is_authenticated %}
                    <a href="{% url 'account:login' %}" class="signup">Вход</a> |
                    <a href="{% url 'account:registration' %}" class="new_reg">Регистрация</a> {% else %}
                    <a href="#" class="new_reg">{{user.username}}</a> |
                    <a href="{% url 'account:logout' %}" class="signup">Выход</a> {% endif %}
                </div>
            </div>
            <!-- end of site_menu -->

            <div class="site_main">

                <div class="site_content">
                    {% block content %} {% endblock content %}
                </div>

                <div class="site_sidebar">
                    {% block sidebar %} {% endblock sidebar %}
                </div>
                <div class="cleaner"></div>
            </div>
            
        </div>
        <div class="cleaner"></div>
    </div>
    
    <div class="footer_wrapper">
        <div class="footer">

            {% popular_topics_partial %}

            {% popular_books_partial %}

            {% popular_films_partial %}

            <div class="cleaner"></div>
        </div>
    </div>

    <div class="copyright">
        Copyright © 2015 <a href="{% url 'hallway:developers' %}">Василий</a> | Студент физико-математического факультета ПГУ им. Т. Г. Шевченко
    </div>

</body>

</html>