<div class="footer_box col_w260 fb_last">
    <h4 class='title'>Облако тегов</h4>
    <a href="#" style="font-size:12px">Aenean</a>
    <a href="#" style="font-size:11px">Cursus</a>
    <a href="#" style="font-size:16px">Maecenas</a>
    <a href="#" style="font-size:11px">Aliquam Ligula</a>
    <a href="#" style="font-size:20px">Egestas</a>
    <a href="#" style="font-size:16px">Suscipit</a>
    <a href="#" style="font-size:12px">Sapien</a>
    <a href="#" style="font-size:28px">Dignissim</a>
    <a href="#" style="font-size:14px">Vestibulum</a>
    <a href="#" style="font-size:12px">Lorem</a>
    <a href="#" style="font-size:14px">Urnain</a>
    <a href="#" style="font-size:20px">Neque</a>
    <a href="#" style="font-size:12px">Aenean</a>
</div>
