{% extends "forum/layout.html" %}

{% block title %} Форум {% endblock title %}

{% block content %}
    <div class="post_box">
        <h2>
            <a href="#">{{ topic.title}}</a>
        </h2>
        <div class="news_meta">
            Автор <a href="{% url 'forum:by-author' topic.user.pk %}">{{ topic.user.first_name|default:topic.user.username }}</a>, {{ topic.date|date:"j M" }}
            | Категория: <a href="{% url 'forum:by-category' topic.category.pk %}">{{ topic.category.name }}</a>
            {% if user.is_authenticated %}
                | <a href="{% url 'forum:update_topic' topic.id %}">Р</a>
                | <a href="{% url 'forum:delete_topic' topic.id %}">У</a>
            {% endif %}
            {% if topic.solved %}
                | <strong style="color: green;">Решено!</strong>
            {% endif %}
        </div>
        <p align="justify">
            {{ topic.text }}
        </p>
        <div class="cleaner"></div>
    </div>

    {% for answer in answer_list %}
            <div class="post_box">
                <div class="news_meta">
                    <a>{{ answer.user.first_name|default:answer.user.username }}</a>, {{ answer.date|date:"j M G:i" }}</a>
                </div>
                <p align="justify">
                    {{ answer.text }}
                </p>
                <div class="cleaner"></div>
            </div>
    {% endfor %}

    {% if user.is_authenticated and not topic.solved %}
        <div class="post_box pb_last">
            <form action="{% url 'forum:answers' topic.id %}" method="post">
                {% csrf_token %}
                <div class="fieldWrapper">
                    <textarea style="height: 100px;width: 600px;" name="text"></textarea>
                </div>
                <div class="fieldWrapper">
                    <input type="submit" value="Ответить" />
                </div>
            </form>
        </div>
    {% elif not user.is_authenticated %}
        <div class="post_box pb_last">
            <b><i>Для того чтобы оставлять ответы на форуме Вам необходимо <a href="{% url 'account:login' %}">войти</a> на сайт,
            либо пройти <a href="{% url 'account:registration' %}">регистрацию</a>, если Вы еще не зарегистрированы.</i></b>
        </div>
    {% elif topic.solved %}
        <div class="post_box pb_last">
            <b><i>Этот вопрос считается решенным, Ваша помощь тут не требуется. Помогите, пожалуйста, с решением других вопросов.</i></b>
        </div>
    {% endif %}

    {% if is_paginated %}
    <div class="post_box pb_last">
        <div class="page-links">
            <span>
                Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">предыдущая</a>
                {% endif %}

                {% if page_obj.has_previous and page_obj.has_next %}
                    |
                {% endif %}

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">следующая</a>
                {% endif %}
            </span>

        </div>
        <div class="cleaner"></div>
    </div>
    {% endif %}
{% endblock content %}