{% extends "forum/layout.html" %}

{% block title %} Форум {% endblock title %}

{% block content %}
    {% for topic in topic_list %}
        <div class="post_box">
            <h2>
                <a href="{% url 'forum:answers' topic.id %}">{{ topic.title|truncatechars:40 }}</a>
            </h2>
            <div class="news_meta">
                Автор <a href="#">{{ topic.author.name }}</a>, {{ topic.date|date:"j M" }}
                | Категория: <a href="{% url 'forum:home' topic.category.id %}">{{ topic.category.name }}</a>
                {% if user.is_authenticated %}
                    | <a href="{% url 'forum:update_topic' topic.id %}">Редактировать</a>
                    | <a href="{% url 'forum:delete_topic' topic.id %}">Удалить</a>
                {% endif %}
                {% if topic.solved %}
                    | <strong style="color: green;">Решено!</strong>
                {% endif %}
            </div>
            <p align="justify">
                {{ topic.text|truncatewords:35 }}
                <a href="{% url 'forum:answers' topic.id %}" class="continue">Подробнее.</a>
            </p>
            <div class="cleaner"></div>
        </div>
    {% endfor %}

    {% if is_paginated %}
    <div class="post_box pb_last">
        <div class="page-links">
            <span>
                Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">предыдущая</a>
                {% endif %}

                {% if page_obj.has_previous and page_obj.has_next %}
                    |
                {% endif %}

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">следующая</a>
                {% endif %}
            </span>

        </div>
        <div class="cleaner"></div>
    </div>
    {% endif %}

{% endblock content %}