{% extends "forum/layout.html" %}

{% block title %} Форум {% endblock title %}

{% block content %}
    {% for topic in topic_list %}
        {% if forloop.last %}
            <div class="post_box pb_last">
        {% elif not forloop.last %}
            <div class="post_box">
        {% endif %}
                <h2>
                    <a href="{% url 'forum:detail' topic.id %}">{{ topic.title|truncatechars:34 }}</a>
                </h2>
                <div class="news_meta">
                    Автор <a href="#">{{ topic.author.name }}</a>, {{ topic.date|date:"j M" }} | Категория: <a href="{% url 'forum:home' topic.category.id %}">{{ topic.category.name }}</a>
                </div>
                <p align="justify">
                    {{ topic.text|truncatewords:35 }}
                    <a href="{% url 'forum:detail' topic.id %}" class="continue">Подробнее.</a>
                </p>
                <div class="cleaner"></div>

            </div>
    {% endfor %}
{% endblock content %}