{% extends "shared/layout.html" %}
{% load forum_tags %}

{% block forum_current %} class="current" {% endblock forum_current %}

{% block search_box %}
    <div id="search_box">
        <form action="{% url 'forum:home' %}" method="post">
            {% csrf_token %}
            <input type="text" placeholder="Искать..." name="query" size="10" id="searchfield"/>
          <input type="submit" value="Поехали" id="searchbutton" />
        </form>
    </div>
{% endblock search_box %}

{% block sidebar %}

    {% about_as %}

    {% forum_menu_partial %}

    {% forum_categories_partial %}

    {# {% forum_archive_partial %} #}

{% endblock sidebar %}
