{% extends "forum/layout.html" %}

{% block title %}Форум | Добавление/Редактирование вопроса{% endblock title %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.media }}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {{form.non_field_errors}}
        <div class="fieldWrapper">
            {{ form.title.errors }}
            {{ form.title.label_tag }}
            <input placeholder="заголовок вопроса" type="text" id="{{ form.title.id_for_label }}" name="{{ form.title.html_name }}" value="{{ form.title.value|default_if_none:'' }}" maxlength="{{ form.title.field.max_length }}">
        </div>
        <div class="fieldWrapper">
            {{ form.text.errors }}
            {{ form.text.label_tag }}
            {{ form.text }}
        </div>
        <div class="fieldWrapper">
            {{ form.category.errors }}
            {{ form.category.label_tag }}
            {{ form.category }}
        </div>
        <div class="fieldWrapper">
            {{ form.solved.errors }}
            {{ form.solved.label_tag }}
            {{ form.solved }}
        </div>
        <div class="fieldWrapper">
            <input type="submit" value="Сохранить" />
        </div>
    </form>
{% endblock content %}